<div class="col-md-6 col-md-offset-3" data-ng-init="init()">
    <ol class="breadcrumb">
      <li class="active">Home</li>
    </ol>
    <h4>Hello {{user.fullname}}</h4>
    
    <div class="col-md-12">
        <a class="btn btn-primary" href="#/reserve">Reserve a Room</a>
    </div>
    <div class="col-md-12">
    
    <p style="text-align:center" data-ng-show="loading"><img src="assets/loading.gif"></p> 
    <div class="alert alert-{{class}}" data-ng-show="showStatus"><strong>Reservation# {{curId}} has been {{word}}!</strong></div>
    <table class="table table-bordered table-striped table-hover" data-ng-show="admin">
        <h4 data-ng-show="admin">Pending Approvals</h4>
        <thead>
            <tr>
                <th>Sno</th>
                <th>Reservation Details</th>
                <th>Requested By</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="data in response">
                <td>{{$index+1}}</td>
                <td>{{data.appointment_details}}</td>
                <td>{{data.user}}</td>
                <td><span class="label label-success" data-ng-click="approveReservation(data._id)">Approve</span> <span class="label label-danger" data-ng-click="rejectReservation(data._id)">Reject</span></td>
            </tr>
        </tbody>
    </table>
        <h4 data-ng-show="normalUser">Your Current Reservations</h4>
    <table class="table table-bordered table-striped" data-ng-show="normalUser">
        
        <thead>
            <tr>
                <th>Confirmation #</th>
                <th>Reservation Details</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="appdata in response">
                <td>{{appdata._id}}</td>
                <td>{{appdata.appointment_details}}</td>
                <td><span class="label label-{{sclass[$index]}}">{{status[$index]}}</span></td>
            </tr>
        </tbody>
    </table>
    </div>
</div>